<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <title>Miljödata</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <script type="text/javascript" src="../app.js"></script> <!-- this is here for now -->
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans" rel="stylesheet">
  <link href="/css/styling.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <nav>
      <a id="logo" href="/">Miljödata</a>
      <ul class="left">
        <li>
          <a href="/om_oss">Om oss</a>
        </li>
        <li>
          <a href="/om_oss">Om er</a>
        </li>
        <li>
          <a href="/om_oss">Om dem</a>
        </li>
        <li>
          <a href="/om_oss">Om alla</a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="/om_oss">Log in</a>
        </li>
      </ul>
    </nav>
  </header>
  {{{body}}}
  <footer>
    <nav>
      <a id="logo" href="/">Miljödata</a>
      <ul class="left">
        <li>
          <a href="/om_oss">Om oss</a>
        </li>
        <li>
          <a href="/om_oss">Om er</a>
        </li>
        <li>
          <a href="/om_oss">Om dem</a>
        </li>
        <li>
          <a href="/om_oss">Om alla</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>

</html>