<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../functions.js"></script>
</head>

<body>
   

<div id="map"></div>

<section id="mainSection">
    <div id="slimWrapper">
        <h1 id="title">Miljödata</h1>

        <p id="info">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
        </p>

        <canvas id="chart"></canvas>
        
    </div>

    <script>
        initMap();
    </script>
   
        
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACPRv7FUxRRfFPleo7fQBZmj-HVqTsrrc&callback=initMap"
        async defer></script>

</section>

</body>
</html>